@import url("w3.css");

body {
    margin-top: 20px;
    margin-left: 10%;
    height: 700px;
}

.log {
    font-family: "Segoe UI",Arial,sans-serif;
}

.view {
    margin-left: 50px;
}

.next {
    position: relative;
    top: -600px;
    left: 400px;
}